.desafios-text {
  max-width: 900px;
}

.desafio-banner {
 width: 100%;
  background-color: #6d1f1c;
  color: white;
  padding: 18px 10px;
  font-size: 15px;
  box-shadow: 0px 10px 13px 8px #6d1f1c;
}
