.objectives-section.row{
   justify-content: center;
   gap: 4vh;

}
.title{
    margin-top: 4vh;

}
.tarjeta{
    width: 60%;
    background-color: #280403;
    border-radius: 1vh;
    margin-top: 15vh;
  text-align: center;
  height: 80%;

}
.info{
    color: white;
}
.tarjeta-img{
  width: 33%;
}
.tarjeta-img-2{
    width: 30%;
}
.tarjeta-img-3{
    width: 18%;
}