
.tituloo{
    background-color: rgba(255, 255, 255, 0.37);
    width: 70%;
    padding: 2vh;
    border-radius: 2vh;
    position: relative;
    left: 25vh;
    top: 2vh;
    font-size: 2vh;
}

.btn-mode{
    width: 7vh;
    padding: 0.2vh;
    position: absolute;
    left: 150vh;
    top: 5vh;
    border-radius: 1vh;
    font-size: 3vh;
    background-color: rgba(255, 255, 255, 0.205);
}