*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}
body{
  background-color: rgb(2, 2, 44);
}
h1,h2,h3,h4,h5,h6{
  color: white;
}
p{
  color: rgb(152, 154, 156);
}
.containerCards{
  display: grid;
  width: 80%;
  max-width: 1280px;
  margin: auto;
  margin-top: 50px;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
}
